.king {
    background-color: #312f30;
    &__inner {
        @include box;
    }

    &__img {
        transition: all 2s ease;
        // &:hover {
        //     transform: scale(2);
        // }
    }

    &__heading {
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 44.2px;
        line-height: 52px;
        color: #ffffff;
    }

    &__text {
        width: 368px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        opacity: 0.7;
    }

    &__price {
        padding-top: 13px;
        padding-bottom: 11px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.1em;
        color: #f6762c;
    }
    del {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        opacity: 0.5;
    }
}
